lpips==0.1.4
smmap==5.0.2
accelerate==1.12.0
imageio-ffmpeg==0.6.0
sentry-sdk==2.48.0
scikit-image==0.26.0
opencv-python==4.12.0.88
GitPython==3.1.45
omegaconf==2.3.0
wandb==0.23.1
timm==1.0.22
tifffile==2025.12.20
ImageIO==2.37.2
transformers==4.57.3
huggingface-hub==0.36.0
diffusers==0.36.0
gitdb==4.0.12
antlr4-python3-runtime==4.9.3
face-alignment==1.4.1
onnx-ir==0.1.12
onnxscript==0.5.6
transformer_engine==2.9.0+70f53666
zipp==3.23.0
importlib_metadata==8.7.0
ml_dtypes==0.5.3
einops==0.8.1
flash_attn==2.7.4.post1+25.11
dllist==2.0.0
torch_tensorrt==2.10.0a0
apex==0.1
nvidia-ml-py==13.580.82
nvidia-resiliency-ext==0.4.1+cuda13
pydantic_core==2.41.5
safetensors==0.6.2
polygraphy==0.49.26
nvidia-modelopt==0.37.0
annotated-types==0.7.0
torchprofile==0.0.4
PuLP==3.3.0
typing-inspection==0.4.2
pydantic==2.12.4
tensorrt==10.14.1.48
tabulate==0.9.0
shellingham==1.5.4
pandas==2.3.3
aiosignal==1.4.0
propcache==0.4.1
multidict==6.7.0
nvidia-cudnn-frontend==1.15.0
typeguard==4.4.4
yarl==1.22.0
datasets==4.4.1
tokenizers==0.22.1
rich==14.2.0
shtab==1.7.2
tomli==2.3.0
xxhash==3.6.0
nvfuser==0.2.34+gitfce1aec
torchtitan==0.1.0
multiprocess==0.70.18
pyarrow==22.0.0
torchdata==0.11.0
lightning-utilities==0.15.2
lightning-thunder==0.2.6.dev0
tyro==0.9.35
looseversion==1.3.0
aiohttp==3.13.2
hf-xet==1.2.0
dill==0.4.0
aiohappyeyeballs==2.6.1
pybind11-global==3.0.1
torchao==0.14.0+git
onnx==1.18.0
pytz==2025.2
typer-slim==0.20.0
opt_einsum==3.4.0
docstring_parser==0.17.0
frozenlist==1.8.0
kiwisolver==1.4.9
cycler==0.12.1
fonttools==4.60.1
matplotlib==3.10.7
pyparsing==3.2.5
pycocotools==2.0+nv0.8.1
contourpy==1.3.3
nvidia-nvtiff-cu13==0.6.0.78
nvidia-nvimgcodec-cu13==0.6.1.37
dm-tree==0.1.9
gast==0.6.0
nvidia-nvjpeg2k-cu13==0.9.0.43
nvidia-nvjpeg==13.0.1.86
makefun==1.16.0
nvidia-nvcomp-cu13==5.0.0.6
nvidia-dali-cuda130==1.52.0
nvtx==0.2.13
wrapt==2.0.1
pytorch-triton==3.5.0+gitde3506d2
triton_kernels==1.0.0+nv25.11
lintrunner==0.12.7
ninja==1.13.0
uv==0.9.8
optree==0.17.0
build==1.3.0
pyproject_hooks==1.2.0
torch==2.10.0a0+b558c986e8.nv25.11
fsspec==2025.10.0
torchvision==0.25.0a0+7a13ad0f
mpmath==1.3.0
filelock==3.20.0
sympy==1.14.0
networkx==3.5
jupytext==1.18.1
pathspec==0.12.1
pytokens==0.3.0
mdurl==0.1.2
markdown-it-py==4.0.0
mypy_extensions==1.1.0
black==25.9.0
isort==7.0.0
mdit-py-plugins==0.5.0
jupyterlab_tensorboard_pro==4.0.0
click==8.3.0
tornado==6.5.2
bleach==6.3.0
webencodings==0.5.1
websocket-client==1.9.0
psutil==7.1.3
python_hostlist==2.3.0
prometheus_client==0.23.1
rfc3339-validator==0.1.4
Werkzeug==3.1.3
rfc3987-syntax==1.1.0
lark==1.3.1
debugpy==1.8.17
mistune==3.1.4
jupyter-lsp==2.3.0
nbclient==0.10.2
rfc3986-validator==0.1.1
grpcio==1.76.0
absl-py==2.3.1
Markdown==3.10
nest-asyncio==1.6.0
webcolors==25.10.0
parso==0.8.5
jupyter-events==0.12.0
ptyprocess==0.7.0
terminado==0.18.1
comm==0.2.3
anyio==4.11.0
jedi==0.19.2
jupyter_client==8.6.3
jsonschema==4.25.1
tensorboard-data-server==0.7.2
tinycss2==1.4.0
pyzmq==27.1.0
h11==0.16.0
pure_eval==0.2.3
python-dateutil==2.9.0.post0
fqdn==1.5.1
jsonpointer==3.0.0
rpds-py==0.28.0
traitlets==5.14.3
Jinja2==3.1.6
MarkupSafe==3.0.3
wcwidth==0.2.14
referencing==0.37.0
ipython==9.7.0
jsonschema-specifications==2025.9.1
prompt_toolkit==3.0.52
fastjsonschema==2.21.2
Pygments==2.19.2
notebook==7.4.7
executing==2.2.1
pexpect==4.9.0
httpcore==1.0.9
isoduration==20.11.0
sniffio==1.3.1
jupyter_core==5.9.1
pandocfilters==1.5.1
uri-template==1.3.0
ipython_pygments_lexers==1.1.1
arrow==1.4.0
jupyterlab_code_formatter==3.0.2
json5==0.12.1
matplotlib-inline==0.2.1
soupsieve==2.8
beautifulsoup4==4.14.2
jupyterlab==4.4.10
babel==2.17.0
jupyter_server==2.17.0
asttokens==3.0.0
stack-data==0.6.3
argon2-cffi-bindings==25.1.0
nbformat==5.10.4
argon2-cffi==25.1.0
pillow==12.0.0
ipykernel==7.1.0
python-json-logger==4.0.0
jupyterlab_server==2.28.0
Send2Trash==1.8.3
tensorboard==2.20.0
jupyter_server_terminals==0.5.3
nbconvert==7.16.6
defusedxml==0.7.1
notebook_shim==0.2.4
async-lru==2.0.5
jupyterlab_pygments==0.3.0
httpx==0.28.1
tzdata==2025.2
pycparser==2.23
regex==2025.11.3
pybind11==3.0.1
tqdm==4.67.1
pytest-shard==0.1.2
threadpoolctl==3.6.0
protobuf==6.33.0
Cython==3.2.0
pytest-flakefinder==1.1.0
iniconfig==2.3.0
urllib3==2.5.0
hypothesis==6.130.8
typing_extensions==4.15.0
soxr==1.0.0
joblib==1.5.2
idna==3.11
wheel==0.45.1
PyYAML==6.0.3
pooch==1.8.2
numba==0.62.1
pytest==8.1.1
sortedcontainers==2.4.0
platformdirs==4.5.0
pytest-rerunfailures==16.1
attrs==25.4.0
scikit-learn==1.7.2
charset-normalizer==3.4.4
packaging==25.0
audioread==3.1.0
xdoctest==1.0.2
pytest-xdist==3.8.0
scipy==1.16.3
execnet==2.1.1
soundfile==0.13.1
requests==2.32.5
astunparse==1.6.3
llvmlite==0.45.1
expecttest==0.3.0
pluggy==1.6.0
msgpack==1.1.2
numpy==2.1.0
lazy_loader==0.4
decorator==5.2.1
mock==5.2.0
cffi==2.0.0
librosa==0.11.0
certifi==2025.10.5
six==1.16.0
setuptools==80.9.0
cmake==3.31.6
pip==25.3
